{% render 'partials/head.liquid' %}

<article>

<h1>Akiko </h1>

<div class="blok">
    <img src="assets/akikooo.png" class="profielfoto">

  </div>

    <p class="bio"> {{ person.bio }} </p>


    <h2>It Takes Courages to Bloom </h2>

<div class="vorm"></div>


</article>

{% render 'partials/foot.liquid' %}
