{% render 'partials/head.liquid' %}

<article>

<h1>Akiko </h1>

<div class="blok">
    <img src="assets/akikooo.png" class="profielfoto">

  </div>

    <p class="bio"> {{ person.bio }} </p>


    <h2>It takes courages to bloom </h2>

  <a href="" class="card-btn">Follow</button></a>


</article>

{% render 'partials/foot.liquid' %}
