{% render 'partials/head.liquid' %}

<article>



    <img src="assets/akiko.jpg" class="profielfoto">

 

    <p class="card-info"> {{ person.bio }} </p>

  <a href="" class="card-btn">Follow</button></a>


</article>

{% render 'partials/foot.liquid' %}
